body {
  background-image: url("https://topbankcoachingchandigarh.files.wordpress.com/2016/12/f01fd-08ba39fad5b7a3cf01a8e3975f6e9526_geography-geography-clipart_640-324.gif");
  background-repeat: no-repeat;
}
.col-md-4 {
  font-family: "Roboto Condensed", Sans-Serif;
  font-size: 35px;
  
}
.col-md-6 {
    font-family: "Cabin", Sans-Serif;
    font-size: 30px;
}
